/*---------  */
/*BASIC SETUP*/
/*-----------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #15100e;
    color: #d6d6d6;
    font-family: 'Arial' , sans-serif; */
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* Used to clear floats*/
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
  /* background-image: url(img/House_bgi.jpg); */
  background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0,0,0,0.2)) ,to(rgba(0,0,0,0.2))), url(img/House_bgi.jpg);
  background-image: linear-gradient(rgba(0,0,0,0.2) ,rgba(0,0,0,0.2)), url(img/House_bgi.jpg);
  /* Makes the image fit the container    */
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Keeps the background fixed so the content scrolls over it   */
  background-attachment: fixed;
}

nav {
  background-color: rgba(0,0,0,0.8);
}
 .logo {
   height: 120px;
   width: auto;
   float: left;
   margin-top: 20px;
    /* width: auto;
    text-align: center;
    margin-top: 20px; */
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #4BADBF;
}

.main-text-box {
    text-align: center;
    padding-top: 200px;
    /* position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%); */
}

/*-----  LINKS ---------*/
a:link,
a:visited {
    color: #4cadbf;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #4cadbf;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:visited {
    color: #555;
    border-bottom: 1px solid transparent;
}


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #B4261F;
    border: 1px solid #B4261F;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #B4261F;
    color:  #B4261F;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #4BADBF;
}

.btn-full:hover,
.btn-full:active {
    background-color: #4BADBF;
    border: 1px solid #4BADBF;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #4BADBF;
    color:  #fff;
}

/*---------------------------*/
/*FEATURES*/
/*---------------------------*/
.section-features {
  background-color: #ececec;
}

.section-features .long-copy {
    margin-bottom: 30px;
    color: #363434;
}

footer {
  text-align: center;
  font-size: 12px;
  font-variant: small-caps;
}

/*---------------------------*/
/*galleryS*/
/*---------------------------*/
.section-gallery {
    padding: 0;
}

.gallery-showcase {
    list-style: none;
    width: 100%;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.gallery-photo {
    /*Make this as large as the li container its in and fix any margin normalize.css might have added*/
    width: 100%;
    margin: 0;
    /* Without this, the transform below causes the images to "overflow their parent container"   */
    overflow: hidden;
    /* This combined with opacity in next rule darkens the img */
    background-color: #000;
}

.gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    /* This is triggered by the rule below   */
    transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
    /* If we scale to 100% of the img size, a white space appears below the img  */
    opacity: 1;
    transform: scale(1.03);
}
